.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 12px;
  margin: auto auto auto 17px;
  background: url(../../../images/edit-button.svg) no-repeat;
  background-position: center;
  border: 1px solid #fff;
  cursor: pointer;
  /* position: relative; */
  /* right: -50px; */
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 9px;
  }
}