.header {
  min-height: 119px;
  /* border-bottom: 1px solid #545454; */
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  /* align-items: center */
}

/* 
.header__logo {
  margin: auto auto auto 0;
} */