.profile__intro-title {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  display: flex;
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .profile__intro-title {
    margin-top: 22px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}