.overlay__container {
  width: 430px;
  /* min-height: 330px; */
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  opacity: 1;
  /* z-index: 2; */
  position: relative;
}

@media screen and (max-width: 767px) {
  .overlay__container {
    width: 282px;
  }
}